BOT_TOKEN=8871514482:AAGEqOUDPoAeCyyu8gvGa0ZkKRgqV28Yo5A
ADMIN_ID=624826036
GROUP_ID=-5211502458
SHEETS_URL=https://script.google.com/macros/s/AKfycbyU5a3pMuTFme3dBNEgu46qzA1sN1Ekw-Q7p39F1Pg872lnnXZEFhJPjuc4TzZNHlpObQ/exec
